[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
psycopg2-binary = "*"
pydantic = "*"
sqlalchemy = "*"
passlib = "*"
bcrypt = "*"
pyjwt = "*"

[dev-packages]
pytest = "*"
starlette = "*"
httpx = "*"

[requires]
python_version = "3.12"
